<!-- HRR Plot and Control
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="w3-container w3-margin w3-padding w3-card-4 plot-container">

      <!-- HRR Plot -->
      <div class="w3-padding-small" id="myplot"></div>

      <!-- Controls -->
      <form class="w3-small w3-light-grey w3-border w3-border-green w3-padding-small" id="myform">
        <div class="w3-row-padding">
          <label class="w3-col m3 s9" for="PHRR">Peak HRR (kW)</label>
          <output class="w3-col m2 s3 w3-right-align" id="phrr_out" for="PHRR">10000</output>
          <input class="w3-col m7 w3-mobile w3-hover-shadow" id="PHRR" type="range" min="1000" max="50000" step="10" name="PHRR" value="10000">
        </div>

        <div class="w3-row-padding">
          <label class="w3-col m3 s9" for="etot">Total Heat Released (MJ)</label>
          <output class="w3-col m2 s3 w3-right-align" id="etot_out" for="etot">200</output>
          <input class="w3-col m7 w3-mobile w3-hover-shadow" id="etot" type="range" min="100" max="1000" step="1" name="Etot" value="200">
        </div>

        <div class="w3-row-padding">
          <label class="w3-col m3 s9" for="n">Relative Time to Peak HRR</label>
          <output class="w3-col m2 s3 w3-right-align" id="n_out" for="n">5</output>
          <input class="w3-col m7 w3-mobile w3-hover-shadow" id="n" type="range" min="1.0" max="10.0" step="0.1" name="n" value="5">
        </div>

        <div class="w3-row-padding w3-padding">
          <button type="submit" class="w3-right w3-teal w3-btn" aria-label="Submit">Submit</button>
        </div>
      </form>

  </div>

  <script type="text/python" src="js/xtree.bry"></script>
