
<div class="w3-panel w3-border">
  <header class="w3-container w3-text-red">
    <h2>Large Scale Fire Research at NIST</h2>
  </header>

  <div class="w3-row">
      <div class="w3-container w3-half">
        <h4>Properly Maintained Christmas Trees are Less of a Fire Hazard </h4>
        <div class="video-container">
          <iframe width="560" height="315"
                  title="Christmas Tree Fire: Watered Tree vs. Dry Tree"
                  src="https://www.youtube.com/embed/26A-49Wb2F4" allowfullscreen></iframe>
        </div>
        <p>NIST experiments demonstrating how a frequently watered Christmas tree may be less of a fire hazard than a dry one</p>
      </div>

      <div class="w3-container w3-half">
        <h4>How Can We Make Buildings More Resistant to Fire?</h4>
        <div class="video-container">
          <iframe width="560" height="315"
                  title="How Can We Make Buildings More Resistant to Fires?"
                  src="https://www.youtube.com/embed/NB__A7kR5Ao" allowfullscreen></iframe>
        </div>
        <p>Full scale (up to 15 MW) structural fire experiments conducted at NIST</p>
      </div>
  </div>
</div>
